* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 290px;
    padding: 15px;
    border-radius: 15px;
}

img {
    max-width: 260px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.para-container {
    width: 90%;
    margin: auto;
}

p {
    text-align: center;
    margin-bottom: 15px;
}

.para1 {
    font-size: 18px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.para2 {
    color: hsl(220, 15%, 55%);
}