* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-container {
    width: 50%;
    height: 375px;
}

.img-container img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.text-container {
    background: hsl(0, 0%, 100%);
    width: 50%;
    height: 375px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.grayish-blue {
    color: hsl(228, 12%, 48%);
}

.title {
    letter-spacing: 2px;
}

.product-brand {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 25px;
}

.prices {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
}

.sale-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 25px;
}

.usual-price {
    text-decoration: line-through;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

@media screen and (max-width: 450px) {

    .container {
        flex-direction: column;
        max-width: 80%;
    }
    .img-container {
        content: url(./images/image-product-mobile.jpg);
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .text-container {
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        gap: 10px;
    }

    .prices {
        gap: 20px;
    }


}
/*.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */