* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    background: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background: hsl(216, 50%, 16%);
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-radius: 10px;
}

.container img {
    width: 100%;
}

.eye-icon {
    position: absolute;
    width: 87%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.eye-icon:hover {
    background-color: hsl(178, 100%, 50%, 0.5);
    opacity: 1;
    cursor: pointer;
}

.container > img, .eye-icon {
    border-radius: 7px;
}

.container > p:nth-child(4), p > span, .time {
    color: hsl(215, 51%, 70%)
}

h3 {
    width:fit-content;
}

.with-icons {
    display: flex;
    justify-content: space-between;
}

.eth, .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

footer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    border-top: 1px solid hsl(215, 51%, 70%);
    padding-top: 15px;
}

footer img {
    max-width: 30px;
    height: auto;
    border: 1px solid white;
    border-radius: 50%;
}

.hover-effect:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}



